certifi==2024.7.4
chardet==4.0.0
click==7.1.2
Flask==2.2.5
gunicorn==23.0.0
idna==3.7
itsdangerous==1.1.0
Jinja2==3.1.6
MarkupSafe==1.1.1
requests==2.32.2
urllib3==1.26.19
Werkzeug==3.0.6
dotenv>=1.0
