<!doctype html>
<html>
  <head>
      <title>File Upload</title>
  </head>
  <body>
        <h1>ArqSist Plate Recognition</h1>
        <form method="POST" action="" enctype="multipart/form-data">
            <p><input type="file" name="file"></p>
            <p><input type="submit" value="Submit"></p>
        </form>
        <hr>
        {% for file in files %}
            <img src="{{ url_for('get_image', filename=file) }}" style="width: 350px">
            <label>{{file}}</label>
        {% endfor %}
  </body>
</html>